@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-size: 12px;
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --blue: hsl(233, 8%, 62%);
  --light-blue: hsl(220, 16%, 96%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html, 
body {
  min-height: 100vh;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.container {
  width: 75%;
  max-width: 1110px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 32px;
}

.column {
  display: flex;
  flex-direction: column;
}