/* Banner */
.banner {
  padding-bottom: 88px;
  background-color: var(--light-blue);
  background-image: url('/assets/images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right -15vh;
}

.banner .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.banner__cta {
  max-width: 447px;
  margin-top: 41px;
  text-align: center;
}

.banner__cta .title {
  margin-bottom: 16px;
}

.banner__cta .description {
  margin-bottom: 32px;
}

.banner__img {
  width: 100%;
  margin-top: -110px;
}