.button {
  border: none;
  background-image: linear-gradient(135deg, var(--lime-green), var(--bright-cyan));
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: var(--white);
  padding: 8px 33px 8px 34px;
  border-radius: 22px;
  cursor: pointer;
  transition: opacity 500ms;
}

.button:hover {
  opacity: 0.4;
}