.footer {
  min-height: 510px;
  padding-top: 40px;
  background-color: var(--dark-blue);
}

.footer__nav {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 32px;
}

.footer__networks {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  text-align: center;
}

.footer__link {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 26px;
  color: var(--white);
  display: inline-block;
  padding-bottom: 8px;
}

.footer__link:hover {
  color: var(--lime-green);
}

.footer__nav .column:nth-child(3) {
  text-align: center;
}

.footer__copyright {
 display: none;
}